{{ template "base" . }}
{{ define "content" }}

<main class="centered">
    <div class="nes-container with-title is-centered is-rounded">
        <p class="title">Поиграем!</p>

        <div class="nes-container is-rounded">
            <div class="nes-select">
                <select required id="difficult">
                    <option selected value="4">Я слишком молод, чтобы умереть</option>
                    <option value="8">Я просто хочу убивать</option>
                    <option value="12">Эй, не так грубо</option>
                    <option value="32">Сделай мне больно</option>
                    <option value="64">Сверхнасилие</option>
                    <option value="128">Кошмар</option>
                </select>
              </div>
            <button id="newgameBtn" class="nes-btn is-primary" onclick="newgame();">Начать новую игру</button>
        </div>

        <div id="rounds" class="nes-container is-rounded game-field">
        </div>

        <div class="nes-container is-rounded">
            <div class="nes-field is-inline">
                <label for="warning_field">Введите число:</label>
                <input type="text" id="input" class="nes-input" maxlength="4" size="20">
            </div>
            <button id="checkBtn" class="nes-btn is-primary is-disabled" disabled onclick="check();">Проверить</button>
        </div>
    </div>
    <audio src="/assets/static/sound/beastSound.mp3" type="audio/mpeg" autoplay loop preload class="on" id="sound"></audio>
    <button id="checkBtn" class="nes-btn is-primary sound" onclick="sound();">
        <img src="/assets/static/images/sound_on.png" alt="on" style="vertical-align: middle; image-rendering: pixelated;" width="24" height="24" id="soundimg">
    </button>
</main>

<dialog class="nes-dialog is-rounded" id="dialog-rounded">
    <form method="dialog">
        {{ .csrfField }}
      <p class="title">Продолжить игру?</p>
      <menu class="dialog-menu">
        <button class="nes-btn" onclick="newgame();">Нет</button>
        <button class="nes-btn is-primary" onclick="loadgame();">Да</button>
      </menu>
    </form>
</dialog>

<script src="/assets/static/js/unended.js">
</script>

{{ end }}
