{{ define "header"}}

<header class="">
    <div class="container">
        <div class="nav">
            <a href="/index">Правила</a>
            <a href="/records">Рекорды</a>
            {{ if .Login }}
                <a href="/private/game">Играть</a>
                <a href="/private/statistic">Статистика пользователя</a>
                <a href="/logout">Выйти</a>
            {{ else }}
                <a href="/login">Войти</a>
                <a href="/registration">Регистрация</a>
            {{ end }}
        </div>
    </div>
</header>

{{ end }}