{{ define "head"}}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Game with nums.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/assets/static/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/assets/static/images/favicon.png" sizes="196x196">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="/assets/static/css/styles.css" rel="stylesheet"/>
</head>

{{ end }}